##用来确认DBAIOps分布式安装部署节点和角色
DS_Web=DBAIOps88
DS_Collector=DBAIOps88
DS_Monitor=DBAIOps88
DS_Logana=DBAIOps88
DS_Fstask=DBAIOps88
#如果是单机部署,为空即可
DS_Other_Executor=
#以下需配
DS_Zookeeper=DBAIOps88
DS_Redis=DBAIOps88
DS_BASE_LOCALTION=/usr/software
##Postgres数据库配置(数据库地址、数据库基目录、数据库数据目录、端口、库名、数据库操作系统用户、数据库用户、数据库用户密码)
DSPG_Node=xxx.xxx.xxx.xxx
DSPG_BASE=/usr/software/pgsql
DSPG_DATA_LOCALTION=/usr/software/pgsql/data
DSPG_Port=15433
DSPG_Database=DBAIOps_2025
DSPG_FS_Database=fstask
DSPG_OS_USER=postgres
DSPG_User=RrC3zs1h/AqHKzChrjWzO7ZY7/fO3LYaanw+7WOpaOXcRXRGtwJLoLtSTOx+kPgFEumg+onirQkHv9zICNX5f2gbx5SFh6B4TNtbwpqloFOQm6Im5O1K+tplQIxtQhwPRzmJdw59GECrsvnJL2/UXdN+cn/Upf5sQVzasYmLrns=
DSPG_Password=qXjHSTyexpjFapalErOu4ENrMmBaKt3oE8U4T60gIX4l0dUN17zMVV8oIxq5T9llNdPdOIKO7CFQt1QpgD74zqvPw2+y8pE5BnHqnyjioaZKrty+qA5IiH9tgsk7Dp07ZMYKATrzUzy3Kh1yjNBnKzFwQ7uMG6T/gOMZVIy+vcU=
